$categories: (
  all: color($colors, primary),
  main: #69BB7B,
  room1:#FED035,
  room2:#FD8B2D,
  room3: #B16BE3,
  room4: #6600CC,
  room5: #3BC7C4,
  room6: #AC282B,
  room7: #FE4C52,
  room8: #FD8B2D,
  room9: #FED035,
  workshop: #69BB7B,
  other: #8E8D93,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
